.mainHeading{
    color: white;
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
    text-decoration: underline;
    margin: 0px;
}
.box{
    background-color: darkblue;
    height: 400px;
    width: 300px;
    margin-left: auto;
    margin-right:auto ;
    border-radius: 10px;
    margin-top: 50px;
    border: 1px solid white;
}

input{
    height: 50px;
    width: 200px;
    border-radius: 30px;
    margin-left: 50px;
    margin-top: 20px;
    border: none;

}
.inputField{
    color: black;
    background-color: white;
    border:none;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;

}
.location{
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.temp{
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
}
.tempmin_max{
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
}

pre{
    text-align: right;
    color: white;
    font-family: serif;
    font-style: italic;
    word-spacing: 5px;
    letter-spacing: 2px;
    margin-right: 5px;
    font-size: 20px;
}
.errorMsg{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}